body {
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #F9F1F0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
}


h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    color: #868B8E;
    font-style:italic;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 2.5em;
    margin:none;
}

.container {
    border: solid #D8A7B1 20px;
    border-radius: 15px;
    margin: 15px;
    width: 60%;
    height: 65%;
    display: grid;
    grid-template-columns: repeat(32, 2fr);
    grid-template-rows: repeat(32, 2fr);
}

.grids {
    background-color: #f0ebe7;
    border: 1px solid #495057;
    display: grid;
}

.color {
    border: 1px solid #495057;
    background-color: #b392ac;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1.2rem;
}

.mode-btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.size {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

button {
    background-color: #eee;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    width: 9em;
    border-radius: 1rem;
    color: #EF7C8E;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    font-weight: 600;    
   }
   
   button:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
   }
   
   button:hover:not(:disabled) {
    background: #EF7C8E;
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
   }
   
   button:disabled {
    cursor: auto;
    color: grey;
   }


	

